<section fxLayout fxLayoutAlign="center center">
  <mat-card class="new-training" fxFlex.xs="100vw" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeholder="Select Training">
          <mat-option value="Crunches">
            Crunches
          </mat-option>
          <mat-option value="Side Lunges">
            Side Lunges
          </mat-option>
          <mat-option value="Push-Ups">
            Push-Ups
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-button type="submit" (click)="onStartTraining()">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
