<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">WholeFit</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px" fxHide.xs>
    <a *ngIf="!(isAuth$|async)" routerLink="/signup">Signup</a>
    <a *ngIf="!(isAuth$|async)" routerLink="/login">Login</a>
    <a *ngIf="isAuth$|async" routerLink="/training">Training</a>
    <a *ngIf="isAuth$|async" (click)="authService.logout()">Logout</a>
  </div>
</mat-toolbar>
